{% extends "newlayout.html.twig" %}

{% block customstyles %}
<link rel="stylesheet" href="/assets/css/toc.css" />
<link rel="stylesheet" href="/assets/css/statutes.css" />
{% endblock %}

{% block menu %}
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Versions</h1>
    <p class="text-center">Choose the language you want to display.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="/assets/img/nl.png"
      class="center-block img-circle img-responsive">
    <h3 class="text-center">nl_be</h3>
    <p class="text-center"><a href="{{ app.base_url }}statutes/nl_be#main_contents">Vlaams</a></p>
  </div>
  <div class="col-md-6">
    <img src="/assets/img/fr.png"
      class="center-block img-circle img-responsive">
    <h3 class="text-center">fr_be</h3>
    <p class="text-center"><a href="{{ app.base_url }}statutes/fr_be#main_contents">Français</a></p>
  </div>
</div>
{% endblock %}

{% block contents %}
<a href="#main_menu" data-smoothscroller>Back to menu</a>
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <div class="toc" id="toc-menu">{{ menu|raw }}</div>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row statutes" id="body_statutes">
      {{ body|raw }}
    </div>
  </div>

</div>
{% endblock %}

{% block customjs %}
<script type="text/javascript" src="/bower_components/smooth-scroller/dist/smooth-scroller.bower.min.js"></script>
<script type="text/javascript" src="/bower_components/toc/dist/toc.bower.min.js"></script>
<script type="text/javascript" src="/assets/js/toc.js"></script>
<!-- script type="text/javascript" src="/assets/js/smoothscrolling.js"></script>
<script type="text/javascript" src="/assets/js/toc.js"></script -->
{% endblock %}
